<div>
	<div class="container" style="background-color: #D02B2F; margin-bottom: 40px;">
        <div class="row">
            <div style="position: relative;">
                <img src="./img/ug_special_bg.png?v=12" class="img-fluid" alt="" />
                <div id="div_content" style="position: absolute; top: 14%; width: 100%;">
                    <div class="m-bg" style="margin-top: 21px; margin-bottom: 0;">
                        <div class="col-10 offset-1">
                            <input id="txt_Phone" type="text" placeholder="请输入您的手机号" style="height: 3vw; min-height: 45px; margin-top: 6px; margin-bottom: 6px; border-radius: 5px; font-size: 16px;" />
                        </div>
                        <div class="col-6 offset-1">
                            <input id="txt_ValidateCode" type="text" placeholder="请输入验证码" style="height: 3vw; min-height: 45px; margin-top: 6px; margin-bottom: 6px; border-radius: 5px; font-size: 16px;" />
                        </div>
                        <div class="col-4" style="text-align: right; height: 3vw;">
                            <div id="lbl_ValidateCode" onclick="fnGetValidateCode()" style="height: 3vw; line-height: 3vw; font-size: 16px; background: url(./img/uc_yzm.png) no-repeat; background-size: cover; color: #BF2637; width: 90%; float: right; text-align: center; border-radius: 5px;">获取验证码</div>
                        </div>
                        <div class="col-10 offset-1">
                            <img id="btn_Submit" src="./img/uc_download_app.gif" style="display: block; margin: 8px auto; cursor: pointer; text-align: center; width: 75%; max-width: 300px;" />
                        </div>
                        <div class="col-10 offset-1">
                            <p style="color: #fff; font-size: 0.8em; text-align: center; margin-bottom: 0; line-height: 16px;" class="p_class">
                                <img id="img_check" src="./img/uc_nocheck.png" lang="0" style="width: 16px; height: 16px;" />
                                我已阅读并同意
                                <a href="https://citicsf-finance-001.citicsf.com/CiticsfFinance/WebUI/CiticsfPrivacyPolicy.html" style="color: #E6B980; cursor: pointer;">隐私条款</a>
                                和
                                <a href="https://citicsf-finance-001.citicsf.com/CiticsfFinance/WebUI/CiticsfAppJurisdiction.html" style="color: #E6B980; cursor: pointer;">应用权限</a>
                            </p>
                        </div>
                    </div>
                    <div id="div_content_version" style="text-align:center;">
                        <p style="color:white" class="p_class">
                            应用版本：<label id="lbl_Version"></label>
                            | 更新时间：<label id="lbl_UpdateTime"></label>
                        </p>
                        <p style="color:white" class="p_class">应用名称：中信期货全功能版 | 开发者：中信期货有限公司</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: block; position: fixed; left: 0; bottom: 0; height: 55px; width: 100%; background-color: #F6F7F9;">
            <div style="width: 50%; float: left; padding: 5px 10px; height: 42px; vertical-align: middle;">
                <a id="call2" href="https://v2.live800.com/live800/chatClient/chatbox.jsp?companyID=657916&configID=129173&jid=9949048082&skillId=7219&s=1" style="color: #333;">
                    <p style="height: 45px; line-height: 45px; font-size: 16px; text-align: center;">
                        <img src="./img/uc_rgkf.png" style="height: 18px;" />
                        人工客服
                    </p>
                </a>
            </div>
            <div style="width: 50%; float: left; padding: 5px 10px; height: 55px; vertical-align: middle;">
                <a href="tel:400-990-8826" style="color: #333;">
                    <p style="height: 45px; line-height: 45px; font-size: 16px; text-align: center;">
                        <img src="./img/uc_dhzx.png" style="height: 18px;" />
                        电话咨询
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
