<div>
	<div class="container" style="background-color: #D02B2F;">
        <div class="row" style="margin-bottom: 55px;">
            <div style="position: relative;">
                <img src="./img/Baidu/zlyy_bg.jpg" class="img-fluid" alt="" />
                <div id="div_content" style="position: absolute; top: 12%; width: 100%; padding: 3%;">
                    <div class="m-bg" style="padding-top: 20px; padding-bottom: 10px; border-radius: 10px; background-color: white;">
                        <div class="col-10-temp offset-1-temp">
                            <input id="txt_Phone" type="text" placeholder="请输入您的手机号" autocomplete="off" style="height: 3vw; min-height: 45px; background-color: #EDEDED; margin-top: 6px; margin-bottom: 6px; border-radius: 5px; font-size: 16px;" />
                        </div>
                        <div class="col-6-temp offset-1-temp">
                            <input id="txt_ValidateCode" type="text" placeholder="请输入验证码" autocomplete="off" style="height: 3vw; min-height: 45px; background-color: #EDEDED; margin-top: 6px; margin-bottom: 6px; border-radius: 5px; font-size: 16px;" />
                        </div>
                        <div class="col-4-temp" style="text-align: right; height: 3vw;">
                            <div id="lbl_ValidateCode" onclick="fnGetValidateCode()" style="height: 3vw; line-height: 3vw; font-size: 16px; background-color: #c12030; color: #FFF; width: 90%; float: right; text-align: center; border-radius: 5px;">获取验证码</div>
                        </div>
                        <div class="col-10-temp offset-1-temp" style="margin-top: 10px; display: block !important;">
                            <!--<img id="btn_Submit" src="../Images/Baidu/zlyy_btn_download.png" style="display: block; margin: 8px auto; cursor: pointer; text-align: center; width: 75%; max-width: 300px;" />-->
                           <div id="btn_Submit" data-agl-cvt="6" style=" display: block !important; height: 3vw; line-height: 3vw; font-size: 16px; background-color: #c12030; color: #FFF; width: 100%; text-align: center; border-radius: 5px;"></div>
                        </div>
                        <div class="col-10-temp offset-1-temp">
                            <p style="color: #fff; font-size: 0.8em; text-align: left; margin-bottom: 0; height: 30px; line-height: 30px; color: #999;">
                                <input type="radio" value="1" name="rdo_Sure" />
                                我已阅读并同意
                                <a href="https://citicsf-finance-001.citicsf.com/CiticsfFinance/WebUI/CiticsfPrivacyPolicy.html" style="color: #999; cursor: pointer;">隐私条款</a>
                                和
                                <a href="https://citicsf-finance-001.citicsf.com/CiticsfFinance/WebUI/CiticsfAppJurisdiction.html" style="color: #999; cursor: pointer;">应用权限</a>
                            </p>
                        </div>
                    </div>
                    <!--<div id="div_content_version" style="text-align:center;">
                        <p style="color:white">
                            应用版本：<label id="lbl_Version"></label>
                            | 更新时间：<label id="lbl_UpdateTime"></label>
                        </p>
                        <p style="color:white">应用名称：中信期货全功能版 | 中信期货有限公司</p>
                    </div>-->
                </div>
               <!-- <img src="../Images/baidu2_top_zxkf.png" style="position: absolute; display: block; width: 90px; top: 30px; right: 0;" />-->
               
                <div id="div_bottom_m" class="content_bottom_m" style=" background-color: #b9172c;">
                    <div style="background-color: #9c0920; padding: 20px 10px 20px 10px; ">
                        <div style="margin-bottom: 1rem;border:1px solid #d65157;padding: 20px 0px 20px 0;">
                            <p class="p_size">相关内容仅供参考，具体以实际办理为准</p>
                        </div>
                        <div style="margin-bottom: 1rem;">
                            <p class="p_size">投资有风险入市需谨慎</p>
                            <p class="p_size">从事证券或期货交易，请通过合法证券期货经营机构进行</p>
                            <p class="p_size">合法机构名单可到中国证监会网站（WWW.CSRC.GOV.CN）查询</p>
                            <p class="p_size">本页面最终解释权归中信期货所有</p>
                        </div>
                        <div style="margin-bottom: 1rem;">
                            <p class="p_size">COPYRIGHT 2007-2021 CITIC FUTURES CO., LTD. ALL RIGHTS RESERVED</p>
                            <p class="p_size">中信期货有限公司 © 版权所有 粤ICP备14051234号</p>
                        </div>
                        <div style="margin-bottom: 1rem;">
                            <p class="p_size">
                                应用版本：<label id="lbl_Version"></label>
                                | 更新时间：<label id="lbl_UpdateTime"></label>
                            </p>
                            <p class="p_size">应用名称：中信期货全功能版 | 开发者：中信期货有限公司</p>
                        </div>
                    </div>
                    <div style="height:50px">
                        
                    </div>
                </div>
            </div>
        </div>
        <div style="position: fixed; left: 0; bottom: 0; height: 55px; width: 100%; background-color: #F6F7F9;">
            <div style="width: 50%; float: left; padding: 5px 10px; height: 42px; vertical-align: middle;">
                <a id="call2" href="https://v2.live800.com/live800/chatClient/chatbox.jsp?companyID=657916&configID=129248&jid=9949048082&skillId=7231&s=1" style="color: #333;">
                    <p style="height: 45px; line-height: 45px; font-size: 16px; text-align: center;">
                        <img src="./img/uc_rgkf.png" style="height: 18px;" />
                        人工客服
                    </p>
                </a>
            </div>
            <div style="width: 50%; float: left; padding: 5px 10px; height: 55px; vertical-align: middle;">
                <a href="tel:400-990-8826" style="color: #333;">
                    <p style="height: 45px; line-height: 45px; font-size: 16px; text-align: center;">
                        <img src="./img/uc_dhzx.png" style="height: 18px;" />
                        电话咨询
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
